html,
body {
  height: 100%;
  background-color: hsl(0, 0%, 96%);
}

.px-1,
.p-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1,
.p-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.box-shadow-y {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

.sidebar-container {
  position: fixed;
  top: 3.25rem;
  left: 0;
  height: calc(100vh - 3.25rem);
  background: #fff;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  width: 16.6667%;
}

.sidebar-container.collapsed {
  transform: translateX(-100%);
}

#main-content {
  transition: margin-left 0.3s ease-in-out;
}

#main-content.collapsed {
  margin-left: 0 !important;
}

.icon {
  height: 30px;
  width: 30px;
  vertical-align: baseline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toggler {
  margin-left: 0;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .sidebar-container {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-container {
      width: 80%;
  }
}
